:root {
    --red: #9D0B28;
    --gray: rgba(183, 183, 183, 0.6);
    --light-red: rgba(157, 11, 40, 0.2);
    --green: 107, 203, 120;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    color: #444;
    background-color: #ccc;
}

h1 {
    font-family: 'Tillana', cursive;
}

div.bg-red {
    background-color: var(--red);
}

div.width {
    width: calc(100% / 7);
}

/* DAYS STYLES */
div.active-day {
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

div.active-day:hover {
    background-color: rgba(var(--green), 0.5);
}

div.selected-day,
div.selected-day:hover {
    background-color: rgba(var(--green), 1);
    color: white;
}

/* WEEKEND STYLES */
div.calendar-days div:nth-child(7n-6),
div.calendar-days div:nth-child(7n) {
    cursor: unset;
    color: var(--red);
    background-color: var(--light-red);
}

/* DISABLE EVENTS ON INACTIVE DAYS AND WEEKEND */
div.inactive-day:active,
div.calendar-days div:nth-child(7n):active,
div.calendar-days div:nth-child(7n-6):active {
    pointer-events: none;
}

/* EMPTY BOX STYLES */
div.disabled-day {
    border-right: none !important;
    background-color: initial !important;
    pointer-events: none;
}

/* INACTIVE DAY STYLES */
div.inactive-day {
    background-color: var(--light-red);
}

/* TOOLTIP STYLES */
div.custom-tooltip {
    display: none;
    position: absolute;
    margin-left: 70px;
    margin-top: -30px;
    color: white !important;
    background-color: #444 !important;
}

/* TEXT FOR WEEKEND OR PREVIOUS DAYS */
div.calendar-days div:nth-child(7n) .custom-tooltip::after,
div.calendar-days div:nth-child(7n-6) .custom-tooltip::after {
    content: 'No appointments on weekends';
}

.inactive-day .custom-tooltip::after {
    content: "Can't select a previous date";
}

div.inactive-day:hover .custom-tooltip,
div.calendar-days div:nth-child(7n):hover .custom-tooltip,
div.calendar-days div:nth-child(7n-6):hover .custom-tooltip {
    display: block;
}

/* SCHEDULE SECTION */
button {
    color: #444;
    background-color: #f8f9fa;
    border: 1px solid #444;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: rgba(var(--green), 0.5)
}

button.selected-time,
button.selected-time:hover {
    color: white;
    background-color: rgba(var(--green), 1);
    border: 1px solid rgb(21, 85, 11);
}

/* FORM STYLES */
input:disabled {
    background-color: transparent;
    border: none;
}

button.send-button:hover {
    background-color: #9D0B28;
    color: white;
}

/* RESUME */
div.resume-container {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.close-button {
    cursor: pointer;
}

.close-button svg {
    transition: all 300ms ease-in-out;
}

.close-button:hover svg {
    fill: var(--red);
}

.time-disabled {
    background-color: var(--light-red);
    color: var(--red);
    border: 1px solid var(--red);
    pointer-events: none;
    user-select: none;
}

.error {
    color: var(--red);
}